*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing{
    background: url(https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?auto=compress&cs=tinysrgb&w=600ttps://images.pexels.com/photos/169789/pexels-photo-169789.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.landing h1{
    color: whitesmoke;
    font-size: 70px;
    text-align: center;
    padding-top :250px ;
}
.landing p{
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    padding-top :20px ;
}
button{
    padding: 10px 50px;
    background-color:transparent;
    color: white;
    border:2px solid white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    margin-left:44%;
    transition: 1s;
    border-radius: 20px;
}
button:hover{
    
    color: white;
    padding: 15px 60px;
    border-radius: 10;
    transition: 0.8s ease-in-out;

}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    padding: 0.5em 1em;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.h{
    text-align: center;
    font-size: 40px;
    text-decoration: bold;
}
.mountains{
    display:flex;
    height: 80vh;
    width: 100%;
    padding: auto;
    background-color: #333;
}
#d2{
    flex-direction: row;
    justify-content: space-around;
}
.z{
    background-color: #494242;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 3px 5px #6a5f5f;
}
.y{
    background-color: #494242;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 3px 5px #6a5f5f;
}
.x{
    background-color: #494242;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 3px 5px #6a5f5f;
}
.w{
    background-color: #494242;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 3px 5px #6a5f5f;
}

.z:hover{
    height: 72vh;
    width:52vh;
}
.y:hover{
    height: 72vh;
    width:52vh;
}
.x:hover{
    height: 72vh;
    width:52vh;
}
.w:hover{
    height: 72vh;
    width:52vh;
}
.mountains img{
    height: 40vh;
    width:45vh;  
   margin: 17px;
   border-radius: 10px;
}
.mountains p{
    text-align: center;
    font-size: 50px;
    color: #ddd;
}
.mountains p:hover{
    font-size: 70px;
    transition: 1s;
}
.mountains button{
    text-align: center;
    margin-left: 85px;
    padding: 10px 50px;
    background-color:transparent;
    color: whitesmoke;
    border:2px solid black;
    cursor: pointer;
    font-size: 20px;
    transition: 1s;
    border-radius: 20px;
}
.mountains button:hover{
    color: black;
    background-color: beige;
    transition: 1s;

}
.back{
    background-color: #333;
    height: 10vh;
}
.back button{
    margin-top: -10px;
    text-align: center;
    margin-left: 1370px;
}
.back button:hover{
    background-color: #f0e68c;
    color: #333;
}
.h{
    background-color: #333;
    color: #ddd;
    padding: 10px;
}
.h:hover{
    cursor: pointer;
}
.test{
    display:flex;
    height: 80vh;
    width: 100%;
    padding: auto;
    background-color: #333;
}
#aab{
    flex-direction: row;
    justify-content: space-around;
}
.test img{
    height: 40vh;
    width:45vh;  
   margin: 17px;
   border-radius: 10px;
}
.aa1{
    background-color: #494242;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 3px 5px #6a5f5f;
}
.aa2{
    background-color: #494242;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 3px 5px #6a5f5f;
}
.aa3{
    background-color: #494242;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 2px 4px #6a5f5f;
}
.aa4{
    background-color: #494242;
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 2px 4px #6a5f5f;
}
.aa1:hover{
    height: 72vh;
    width:52vh;
}
.aa2:hover{
    height: 72vh;
    width:52vh;
}
.aa3:hover{
    height: 72vh;
    width:52vh;
}
.aa4:hover{
    height: 72vh;
    width:52vh;
}
.hh{
    background-color: #333;
    color: #ddd;
    padding: 10px;
    text-align: center;
    font-size: 30PX;
    font-style: italic;
}
.hh:hover{
    cursor: pointer;
}
.test p{
    text-align: center;
    font-size: 20px;
    color: #ddd;
}
.test button{
    text-align: center;
    margin-left: 15px;
    margin-bottom: 0;
    width: 45vh;

}
.foot{
    background-color: #333;
}
.foot h4{
    text-align: center;
    font-size: 40px;
    color: white;
}
.foot p{
    text-align: center;
    font-size: 20px;
    color: #ddd;
}